/* external link */
a.external {
    padding-right: 20px;
    /* background-image: url('../images/external-link-52.png'); */
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    /* background-attachment: local; */
}